{% extends "base.html.twig" %}

{% block title %}Card{% endblock %}
{% block headertitle %}Card{% endblock %}

{% block body %}
    {{ include('/card/card_nav.html.twig') }}

    <h1>Here we will display some cards</h1>

    <ul>
    {% for card in deck %}
        <li>{{card}}</li>
    {% endfor %}
    </ul>
{% endblock %}