{% extends "base.html.twig" %}

{% block title %}Deck{% endblock %}
{% block headertitle %}Deck{% endblock %}

{% block body %}
 {{ include('/card/card_nav.html.twig') }}

    <h1>All cards in the deck</h1>

    <ul class="deck-container">
    {% for card in deck %}
         <li class="card {{ "♥" in card or "♦" in card ? "red" : "" }}">{{card}}</li>
    {% endfor %}
    </ul>
{% endblock %}