{% extends "base.html.twig" %}

{% block title %}Draw{% endblock %}
{% block headertitle %}Draw{% endblock %}

{% block body %}
 {{ include('/card/card_nav.html.twig') }}

    <h1>Draw nr of cards from deck</h1>

    <h2>Drawn cards: </h2>
    <ul class="deck-container">
      {% for card in hand %}
        <li class="card {{ "♥" in card or "♦" in card ? "red" : "" }}">{{card}}</li>
    {% endfor %}
    </ul>
    <h2>Cards left in deck:</h2>
    <p>{{deck|length}}</p>
{% endblock %}