{% extends "base.html.twig" %}

{% block title %}Docs{% endblock %}
{% block headertitle %}Docs{% endblock %}

{% block body %}
   <h1>Docs</h1>
    <img src=" {{ asset('img/flowchart-kmom03.png') }}"  alt="Flowchart"/>
    <img src=" {{ asset('img/kmom03-class-diagram.png') }}"  alt="Class diagram"/>
{% endblock %}