{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}
{% block headertitle %}API{% endblock %}

{% block body %}
    <h1>Tillgängliga API</h1>

   <div class="api-wrap">
        <h2>"GET /api/quote"</h2>

        <p>Få ett random citat</p>
    </div>
{% endblock %}