{% extends "base.html.twig" %}

{% block title %}Api{% endblock %}
{% block headertitle %}API{% endblock %}

{% block body %}
    <h1>Available API</h1>

   <div class="api-wrap">
        <a href="./api/quote"><span class="api-big">GET</span> <span class="api-bold">"api/quote"</span></a>

        <p>Get random quote.</p>
    </div>

     <div class="api-wrap">
        <a href="./api/deck"><span class="api-big">GET</span> <span class="api-bold">"api/deck"</span></a>

        <p>Get a deck of cards sorted by suit and value.</p>
    </div>

     <div class="api-wrap">
        <a href="./api/deck/shuffle"><span class="api-big">GET</span> <span class="api-bold">"api/deck/shuffle"</span></a>

        <p>Shuffles deck of cards and returning it. Stores the deck of cards in session.</p>
    </div>

     <div class="api-wrap">
        <a href="./api/deck/draw"><span class="api-big">GET</span> <span class="api-bold">"api/deck/draw"</span></a>

        <p>Draws 1 card from deck.</p>
    </div>

    <div class="api-wrap">
        <a href="./api/deck/draw/5"><span class="api-big">GET</span> <span class="api-bold">"api/deck/draw/:number"</span></a>

        <p>Draws :number of cards from deck.</p>
    </div>

    <div class="api-wrap">
        <a href="./api/game"><span class="api-big">GET</span> <span class="api-bold">"/api/game"</span></a>

        <p>Get current player score of card game.</p>
    </div>
{% endblock %}