{% extends "base.html.twig" %}

{% block title %}Report{% endblock %}
{% block headertitle %}Reports{% endblock %}

{% block body %}
    <h1>Redovisningstexter DV1608 "mvc"</h1>

    <h3>Snabblänkar: </h3>
    <div class="quick-links">
        <a href="/report#kmom01">Kmom01</a>
        <a href="/report#kmom02">Kmom02</a>
        <a href="/report#kmom03">Kmom03</a>
        <a href="/report#kmom04">Kmom04</a>
        <a href="/report#kmom05">Kmom05</a>
        <a href="/report#kmom06">Kmom06</a>
    </div>

    <div class="report-div" id="kmom01">
        <h2>Kmom01</h2>

        <p> Text </p>
    </div>

    <div class="report-div" id="kmom02">
        <h2>Kmom02</h2>

        <p> Text </p>
    </div>

    <div class="report-div" id="kmom03">
        <h2>Kmom03</h2>

        <p> Text </p>
    </div>

    <div class="report-div" id="kmom04">
        <h2>Kmom04</h2>

        <p> Text </p>
    </div>

    <div class="report-div" id="kmom05">
        <h2>Kmom05</h2>

        <p> Text </p>
    </div>

    <div class="report-div" id="kmom06">
        <h2>Kmom06</h2>

        <p> Text </p>
    </div>
    
    
{% endblock %}